.subheaderHover{
    font: 300 20px/29px "Poppins", sans-serif!important;
    color: #5BC0BE!important;
}
.tooltipRectangle {
    position: relative;
    display: inline-block;
}

.tooltipRectangle .tooltiptext {
    visibility: hidden;
    width: 20vw;
    background-color: rgba(0, 0, 0, 0.82);;
    color: #fff;
    border-radius: 6px;
    padding: 5px 0px 5px 7px ;
    /* Position the tooltipRectangle */
    position: absolute;
    z-index: 1;
    top: 0px;
    top: 30px;
    left: -18vw;
}

.tooltipRectangle:hover .tooltiptext {
    visibility: visible;
}

.square {
    height: 50px;
    width: 50px;
    background-color: #555;
  }
.grid {
    margin: 0 auto;

    font-size: 1rem;
}
.box {
    float:left;
    background: tomato;
    margin: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    height: 30px;
    width: 30px;
}
.box:hover {
    border-radius: 1em;
}
.box:after {
    content: "";
    float:left;
    display: block;
    padding-top: 100%;
}
.box .inner {
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    align-items: center;
    justify-content: center;
}