.square {
    height: 50px;
    width: 50px;
    background-color: #555;
  }
.grid {
    margin: 0 auto;

    font-size: 1rem;
}
.box {
    float:left;
    background: tomato;
    margin: 5px;
    color: white;
    font-weight: bold;

    height: 30px;
    width: 30px;
}
.box:after {
    content: "";
    float:left;
    display: block;
    padding-top: 100%;
}
.box .inner {
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    align-items: center;
    justify-content: center;
}